.item-list {
  padding: 20px;
  p {
    display: none;
    color: black;
    font: 8px;
  }
}

.item-list:hover {
  background: #e8e4e4;
  p {
    display: block;
  }
}

.in-put {
  margin-bottom: 10px;
  margin-top: 10px;
}

.container {
  padding-top: 30px;
}
